.THIS .uiInput--input .input, .THIS .uiInput--input.input, .THIS .border,.THIS .lightning-datepicker_datepicker .slds-form-element__control .slds-input-has-icon .slds-input-has-icon_right
{    border: 1px solid rgb(13, 156, 234)!important;
}
.THIS .uiInput--select,.THIS .input .input .THIS .slds-input .uiInput--input .input, .THIS .uiInput--input.input, .THIS .border,.THIS .lightning-datepicker_datepicker .slds-form-element__control .slds-input-has-icon .slds-input-has-icon_right
{    border: 1px solid rgb(13, 156, 234) !important;
    font-size:0.8rem;
} 
.THIS .appyfilter
{color:white;
}
.THIS .gray
{
    background-color:gray;
    color:white;
}
.THIS .info-icon
{
    line-height: 20px !important;
}
.THIS .slds-modal__container, .THIS .slds-modal__container1
{
        width: 30% !important;
}
.THIS .editwi72
{
        width: 460px;
}
.THIS .Newfilter{
border-radius: 29px;
        border-radius: 33px;
    margin-left: -46px;
    border: 1px solid #4169e1;
    height: 36px;
    background-color: #4169e1;
    color: white;
}
.THIS .inputsearch
{
border-radius: 29px;
}
.THIS .card-bodypop
{
    padding: 6px !important;
    background: #f6f7f8!important;
}
.THIS .box-card1
{
    width: 100%;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 0px !important;
}
.THIS .card-body1
{
    overflow-y: scroll;
    padding: 15px !important;
    background: #f6f7f8!important;
}
.THIS .card-header
{border-bottom: 1px #c6c6c6 dotted !important;
}
.THIS .error_text { 
    color: red;
}
.THIS .wi72 {
    width: 120px;
}

.THIS .slds-dueling-list__options, 
.THIS .slds-picklist__options{
    height:13rem !important;
}
.THIS .slds-text-link--reset {
    color: inherit !important;
    text-decoration: none !important;
    width: 100% !important;
    height: 47px !important;
    text-align: left !important;
    padding-left:0px !important;
    padding-right:0px !important;
    font-size: 17px !important;
    box-shadow: none !important;
    display: inline-table !important;
}

.THIS .Customizedstocktable{
    min-width:100%;
}
.THIS .Customizedstocktable tbody, 
.THIS .Customizedstocktable thead ,
.THIS .Customizedstocktable tr,
.THIS .Customizedstocktable th,
.THIS .Customizedstocktable td {
    display: block;
}
.THIS .Customizedstocktable tbody {   
    height: 625px;
    overflow-y: auto;
    width:100%; 
}
.THIS .Customizedstocktable thead{
    width:99%;
}
.THIS .Customizedstocktable tbody tr{
    clear:both;
}
.THIS .Customizedstocktable th, .THIS .Customizedstocktable td {
    width: 10%;
    float: left;
}
.THIS .slds-table--striped tbody tr:nth-of-type(even) {
    background: #f4f6f9 !important;
    display: table;
    width: 100%;
}

.THIS .slds-table:not(.slds-no-row-hover) tbody tr:hover{
    background: #f4f6f9 !important;
    display: table;
    width: 100%;
}

.THIS .aligin {
    padding-right: 5px;
    padding-left: 5px;
}
.THIS #modal_popup .slds-modal__container{
   max-width: 45rem !important;
}
.THIS .uiInputDateTime .dateTime-inputTime{
	display:none !important;
}
.THIS .uiInputDateTime .dateTime-inputDate{
	width:100% !important;
}
.THIS .uiInput--radio input[type=radio]{
    float:left !important;
    margin-right:5px !important;
    margin-top:4px !important;
}