.THIS .uiOutputRichText
{
	background: white;
	padding: 1%;
	font-size: 13px;
}

.THIS .Record_Size,
.THIS .page_Options {
    width: 65px !important;
}

.THIS .centerRegion{
    overflow-y:auto;
    height:300px;
}

.THIS h1.slds-page-header__title {
    margin-bottom: 0px !important;
    line-height: 50px !important;
    font-size: 42px !important;
    margin-bottom: 3px !important;
}

.THIS h1.slds-page-header__title:before {
    content: '';
    width: 50px;
    height: 50px;
    position: relative;
    float: left;
    background-position: center;
    margin-right: 14px;
    background-size: 100% 100%;
    background-image: url(/resource/1521542013000/wayfindingicons/icon-reports-50x50.png);
}