.THIS .Newfilter{
border-radius: 29px;
        border-radius: 33px;
    margin-left: -46px;
    border: 1px solid #4169e1;
    height: 36px;
    background-color: #4169e1;
    color: white;
}.THIS .inputsearch
{
border-radius: 29px;
}
.THIS .info-icon
{
        position: absolute;
    top: 5px !important;
    right: 8px;
    line-height: 0px;
}
.THIS .card-body
{
    padding: 1.0rem;
}
.THIS .slds-text-link--reset {
   color: inherit !important;
    text-decoration: none !important;
    width: 100% !important;
    height: 47px !important;
    text-align: left !important;
    padding-left:0px !important;
    padding-right:0px !important;
    font-size: 17px !important;
    box-shadow: none !important;
    display:inline-table !important;
}

.THIS  .slds-text-link--reset123 {
    color: inherit !important;
    text-decoration: none !important;
    width: 100% !important;
    height: 47px !important;
    text-align: left !important;
    padding-left:0px !important;
    padding-right:0px !important;
    font-size: 17px !important;
    box-shadow: none !important;
    display:inline-table !important;
}

.THIS .slds-text-link--reset12 {
   color: inherit !important;
    text-decoration: none !important;
    width: 100% !important;
    height: 47px !important;
    text-align: left !important;
    padding-left:0px !important;
    padding-right:0px !important;
    font-size: 17px !important;
    box-shadow: none !important;
    display:inline-table !important;
}
.THIS .divInner7  {
    width:40%;
    display: inline-block;
    padding: 5px;
    text-align: right;
    float: left;
    
}

.THIS .divInner8  {
    width:60%;
    float: right;
    padding: 5px;
    
}

.THIS .uiImage{
    width: 13.8125rem;
}

.THIS .slds-global-header .slds-global-header__logo {
    width: 13.8125rem;
}

.THIS .slds-global-header__logo > .uiImage > img{
    height:300px !important;
    border:1px solid red !important;
}
.THIS .divInner7  {
    width:40%;
    display: inline-block;
    padding: 5px;
    text-align: right; 
    float: left;
}

.THIS .divInner8  {
    width:60%;
    float: right;
    padding: 5px; 
}

@media only screen and (max-width: 768px) 
    {
    .THIS .scroll
    {
        width:1313px !important;
        overflow: scroll !important;
        word-wrap: break-word;
    }
    .THIS .sWrapTest {
        width:100%;
        
    }
}
@media only screen and (max-width: 360px)
    {
    .THIS .sWrapTest {
        width:100%;
        
    }
    .THIS .popupscrollWrap {
        width:100%;
        height:100%;
    }
}

.THIS .scrollable {
    overflow: auto;
}

.THIS .divInner9{
    margin-top: -28px;
}

/*.THIS .head
{
   position: relative !important;
    display: block !important;
    width: 100% !important;
    
}

.THIS .body
{
    
    display: block !important;
    height: 350px !important;
    overflow-y: auto !important;
    width: 100% !important;
}*/

.THIS .Customizedstocktable{
    min-width:100%;
}
.THIS .Customizedstocktable tbody, 
.THIS .Customizedstocktable thead ,
.THIS .Customizedstocktable tr,
.THIS .Customizedstocktable th,
.THIS .Customizedstocktable td {
    display: block;
}

.THIS .view
{
    width:15%;
    border: 1px solid rgb(216, 221, 230);
}

.THIS .Customizedstocktable tbody {   
    overflow-y: auto;
    width:100%;
}
.THIS .Customizedstocktable thead{
    width:100%;
}

.THIS .Customizedstocktable tbody tr{
    clear:both;
}

.THIS .Customizedstocktable th, .THIS .Customizedstocktable td {
    width: 16.25%;
    float: left;
}

.THIS .Customizedstocktable th:nth-child(5),
.THIS .Customizedstocktable td:nth-child(5){
    width: 8%;
    float: left;
}
.THIS .Customizedstocktable th:nth-child(6),
.THIS .Customizedstocktable td:nth-child(6){
    width: 13%;
    float: left;
}
.THIS .Customizedstocktable th:nth-child(7),
.THIS .Customizedstocktable td:nth-child(7){
    width: 14%;
    float: left;
}

.THIS .slds-table--striped tbody tr:nth-of-type(even) {
    background: #f4f6f9 !important;
    display: table;
    width: 100%;
}

.THIS .slds-table:not(.slds-no-row-hover) tbody tr:hover{
    
    background: #f4f6f9 !important;
    display: table;
    width: 100%;
}
.THIS .aligin {
    padding-right: 5px;
    padding-left: 5px;
}