<apex:page showHeader="false" sidebar="false">
  <apex:iframe src="{!$Site.Prefix}/secur/logout.jsp" height="1" width="1" />
  <script>
    function redirectToLogin(){
    alert("Test");
       window.location.href="www.google.com";
    }   
    setTimeout("redirectToLogin()", 500);
  </script>
  Logging out...
</apex:page>