<apex:page sidebar="false" showHeader="false">
    <apex:slds /> 
    <script src="{!$Resource.forcetk}"></script> 
     <script src="{!$Resource.connectionjs}"></script>
    <script type="text/javascript">  
    function HandleBrowseClick(){
        debugger;
        var fileinput = document.getElementById("idOfUploadInputFileElement");
        fileinput.click();
    }
     function filenamedisp(){
        var fileinput = document.getElementById("idOfUploadInputFileElement");
        //var files = document.getElementById('idOfUploadInputFileElement').files;
        var textlabel = document.getElementById("filename");
        
        if(fileinput.files.length ==1){
            textlabel.innerHTML=fileinput.files[0].name;
        }
        else if(fileinput.files.length >1){
            textlabel.innerHTML=fileinput.files.length + " Files Selected";
        }
    }
    var getUrlParameter = function getUrlParameter(sParam) {
        try{
            debugger;
            var searchString = document.URL.split('?')[1];
            var sPageURL = decodeURIComponent(searchString),
                sURLVariables = (sPageURL.replace('&amp;','&')).replace('&amp;','&').split('&'),
                sParameterName,
                i;
            for (var i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');                 
                if (sParameterName[0] === sParam)  {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        }catch(ex){}
    };
    
    var getParentId = function (){       
        return getUrlParameter('parentId');
    }; 
    var getParentname = function (){        
        return getUrlParameter('ParentName');
    }; 
    
    var getfileType = function (){       
        return getUrlParameter('fileType');
    };
    var getUserId = function (){        
        return getUrlParameter('userId');
    }; 
    var getRefName = function (){        
        return getUrlParameter('name');
    }; 
    var getRefType = function (){        
        var S = getUrlParameter('name');
        if(S.match(/T-/)){
            return 'Transaction';
        }else if(S.match(/Q-/)){
            return 'Quote';
        }else{
            return 'Tenant';
        }
    }; 
    
    var client = new forcetk.Client();
    debugger;
    var flagchk = getUrlParameter('flag');
    if(flagchk==='rob')
    {
    
    sforce.connection.serverUrl = 'https://tradeaixqa-stratizantqa.cs93.force.com/demo/services/Soap/u/41.0';
    var result = sforce.connection.login('vchari@stratizant.com.tradeaixqa', 'Tradeaix@1234*');
    sforce.connection.sessionId = result.sessionId;
    client.setSessionToken(result.sessionId);
    
    }
    else{
    client.setSessionToken('{!$Api.Session_ID}');
    }
    client.visualforce =  false;
    client.instanceUrl = 'https://tradeaixqa-stratizantqa.cs93.force.com/demo';
    client.proxyUrl = null;
    
    
    var uploadAttachmentFromVisualForcePage = function(){ 
            
        var files = document.getElementById('idOfUploadInputFileElement').files;
        document.getElementById('btnUpload').disabled = true;

        if (files == undefined || files.length <= 0) {  
            parent.document.getElementById('choosefile').click();
            document.getElementById('idOfUploadInputFileElement').value= null;
            document.getElementById('btnUpload').disabled = false;
            return;
        }
        
        var results = [];
        var success = true;
        
        if(getfileType() == 'due') {
            parent.document.getElementById('loaderDisplayDue').click();
        } else {
            parent.document.getElementById('loaderDisplay').click(); 
        }
        var uploadedCount = 0;
        var isFlag = true;
        for(var i = 0; i <= files.length-1; i++) {
            debugger;
            var sFileName = files[i].name;
            //alert(sFileName);
            // var CV =  sforce.connection.query("SELECT id,Title,FileExtension from ContentVersion Where Title='"+sFileName+"');
            var sFileExtension = sFileName.split('.')[sFileName.split('.').length - 1].toLowerCase();
            if ((sFileExtension == "exe" || sFileExtension == "js" || sFileExtension == "zip" || sFileExtension == "rar"))
                isFlag = false;
        }
        if(isFlag){
            for(var i = 0; i <= files.length - 1; i++) {
                var attachFile = files[i];
                debugger;
                client.createBlob('ContentVersion', {
                    Origin: 'C', 
                    PathOnClient: attachFile.name,
                    FirstPublishLocationId: '0585A000000Jwry', 
                    ParentId__c: getParentId(),
                    ParentName__c: getParentname(),
                    Description: getfileType(),
                    Tenant_User__c: getUserId(),
                    Reference__c: getRefName(),
                    RefType__c: getRefType(),
                    File_Share__c: 'Private'  
                }, attachFile.name, 'VersionData', attachFile, function(result){
                    debugger;
                    if (result.success) {
                        if(success){
                            success = true;
                            
                        }
                    } else {
                        success = false;
                        
                    }
                    //alert('sucess='+success);
                    uploadedCount = uploadedCount + 1;
                }, function(request, status, response){
                    debugger;
                    success = false;
                    uploadedCount = uploadedCount + 1;
                }); 
            }
            var interval = setInterval(function() {
            //If the count down is finished, write some text 
            if (uploadedCount >= files.length) {
                clearInterval(interval);
                document.getElementById('btnUpload').disabled = false;
                document.getElementById('idOfUploadInputFileElement').value= null;
                if (success){
                    if(getfileType() == 'due') {
                        parent.document.getElementById('refreshModelDue').click();
                        document.getElementById('btnUpload').disabled = false;
                        document.getElementById("filename").innerHTML='No Files Chosen';
                    } else {
                        parent.document.getElementById('refreshModel').click();
                        document.getElementById('btnUpload').disabled = false;
                        document.getElementById("filename").innerHTML='No Files Chosen';
                    }
                }else{
                    parent.document.getElementById('chooseFailure').click();
                    document.getElementById('btnUpload').disabled = false;
                    document.getElementById("filename").innerHTML='No Files Chosen';
                }
            }
        }, 1000);
        }
        else{
            document.getElementById('idOfUploadInputFileElement').value= null;
            parent.document.getElementById('fileExtension').click();
            document.getElementById("filename").innerHTML='No Files Chosen';
            document.getElementById('btnUpload').disabled = false;
        }
    };
    </script>
    <input type="file"  onchange="filenamedisp();" multiple="multiple" id="idOfUploadInputFileElement" style="display: none"/>
    <input type="button" value="Choose Files" id="fakeBrowse" onclick="HandleBrowseClick();"/>&nbsp;&nbsp;
    <label id="filename">No Files Chosen</label>&nbsp;&nbsp;
    <input id="btnUpload" type="button" class="slds-button slds-button--neutral Save uiButton" value="Upload File(s)" onclick="uploadAttachmentFromVisualForcePage();" />
    
</apex:page>