<apex:page controller="TransactionAttributeReportDetails" showHeader="false" >
    <apex:form >
        <apex:pageblock >
            <apex:repeat value="{!DynamicAttributesInfo}" var="key">              
               <!-- <apex:outputLabel >
                    <h1>{!key}</h1>
                </apex:outputLabel> 
                <apex:pageblockTable value="{!DynamicAttributesInfo[key]}" var="prodRec">
                    <apex:column value="{!prodRec}"/>
				</apex:pageblockTable><br/>  -->    
                 <table border="1">
                <apex:repeat value="{!DynamicAttributesInfo[key]}" var="body">   
                  <td>
                    <apex:outputText value="{!body}"/>
                    </td>
                      <!--    <apex:outputpanel rendered="{!LEFT(body,(find('|',body)-1)) == '10'}">
                            <tr>                                
                                <td>{!LEFT(body,(find(':',body)-1))}</td>
                                <td>{!LEFT(body,(find(':',body)-1))}</td>
                                <td>{!LEFT(body,(find(':',body)-1))}</td>
                                <td>{!LEFT(body,(find(':',body)-1))}</td>
                                <td>{!LEFT(body,(find(':',body)-1))}</td>
                            </tr>
                            
                        </apex:outputpanel> -->
                      
                    </apex:repeat> 
                  </table>
            </apex:repeat>
        </apex:pageblock>        
    </apex:form>
</apex:page>