<apex:page renderAs="pdf"  controller="PDFCompletedTransaction" showHeader="false"  sidebar="false" standardStylesheets="false" applyBodyTag="false" applyHtmlTag="false">
    <html>
        <head>
            <style>
                @page {
                size: letter;
                margin: 10mm;
                @top-left {
                margin: 5mm;
                font-size:10px;
                content: "Docusign Envelope ID: E7719A7B-BDC4-4866-9FDC-A96D8BA65145";
                }
                @top-right{
                width:50%;
                font-size:10px;
                text-aligh:left;
                color:red;
                content: "DEMONSTRATION DOCUMENT ONLY PROVIDED BY DOCUSIGN ONLINE SIGNING SERVICE";
                }
                @bottom-right {
                content: counter(page) " of " counter(pages);
                font-size:10px;
                }               
                }
                .page-break {
                display:block;
                page-break-after:always;
                }
                body {
                font-family: Arial Unicode MS;
                font-size:13px;
                }
              
            </style>
        </head>
       <body>
          <div style="width: 100%;margin: 0 auto;background-color: #FAFAFA;"> 
        <br/> 
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <br/>        
        <apex:image id="theImage" width="20%" style="margin-left: 10px;" value="{!Offers.logo}"  alt="logo"/>    
        <br/>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
              <div style="page-break-after: always" >
        <table style="width: 100%;margin: 0 auto;font-size: 12.8px;padding:10px;">
            
            <tr style="width:100%;">
                   <th colspan="3" style="padding:5px;text-align:left;font-weight:bold;width:30%;font-size:16px;"><h5 style="background-color:#4682b4;color:white;Padding:5px;">TRANSACTION DETAILS</h5></th>
            </tr>
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:600;color:#0c8dd4;width:30%;">Transaction Reference </th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;font-size:12px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.TransactionRefNumber}</th>
            </tr>
            <tr>
                <th style="padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Market Type </th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.MarketType}</th>
            </tr>
            <tr>
                <th style="padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Product Type</th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;"> {!Offers.OfferType}</th>
            </tr>
            <tr>
                <th style="padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Product</th> <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.prodTemplateName}</th>
            </tr>
            <tr>
                <th style="padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Transaction Status</th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.Status} </th>
            </tr>
             <tr>
                <th style="padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Created By</th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.CreatedBy}</th>
            </tr>
            <tr>
                <th style="padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Created Date</th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.CreatedDate}(IST)</th>
            </tr>
            <tr>
                <th style="padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Issuing Bank</th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.IssuingBankName}</th>
            </tr>
            <tr>
                <th style="padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Transaction Amount</th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.TransAmount}</th>
            </tr>
            <tr>
                <th style="padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Quote Amount</th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.QuoteAmount}</th>
            </tr> 
            <tr>
                <th style="padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Pricing</th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.Pricing}</th>
            </tr>
            <tr>
                <th style="padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Currency</th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.curr}</th>
            </tr>
            <tr>
                <th style="padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Bidder</th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.BidderName}</th>
            </tr>           
            <tr>
                <th style="padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Notes</th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.Notes}</th>
            </tr> 
                  </table>
              </div>
              <div style="page-break-after: always">
                  <table style="width: 100%;margin: 0 auto;font-size: 12.8px;padding:10px;">
                      <tr style="width:100%;">
                          <th colspan="3" style="padding:5px;text-align:left;font-weight:bold;width:30%;font-size:16px;"><h5 style="background-color:#4682b4;color:white;Padding:5px;">TRANSACTION ATTRIBUTES</h5></th>
                      </tr>
            <apex:repeat value="{!Offers.Body}" var="body">
                <tr><th style="padding:5px;text-align:left;font-weight:600;color:#0c8dd4;width:30%;">
                    {!LEFT(body,(find(':',body)-1))}
                    </th><th style="width:2%;">:</th>
                    <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">
                        {!Right(body,(len(body)-find(':',body)))}
                    </th>
                </tr>
                      </apex:repeat> 
                      
                  </table> 
                  
              </div>
              <apex:pageBlock rendered="{!Amendedatt=='Yes'}">
                  <div style="page-break-after: always">
                     
                      <table style="width: 100%;margin: 0 auto;font-size: 12.8px;">
                          <tr style="width:100%;">
                              <th colspan="3" style="padding:5px;text-align:left;font-weight:bold;width:30%;font-size:16px;"><h5 style="background-color:#4682b4;color:white;Padding:5px;">AMENDED ATTRIBUTES</h5></th>
                          </tr>
                      </table>
                      <table style="width: 100%;margin: 0 auto;font-size: 12.8px;">
                          <tr style="width:100%;padding:5px;"><th colspan="3">
                              
                              <thead>
                                  <tr class="slds-text-title--small" style="background-color: #A4D8F1;padding-left:5px;">
                                      <th class="slds-is-sortable slds-is-resizable" style="font-weight:normal;padding:5px;" scope="col" aria-label="Actions">
                                          <span class="slds-truncate" title="Actions">Attribute Name</span>
                                      </th>
                                      <th class="slds-is-sortable slds-is-resizable" style="font-weight:normal;padding:5px;" scope="col" aria-label="Actions">
                                          <span class="slds-truncate" title="Actions">Original Value</span>
                                      </th>
                                      <th class="slds-is-sortable slds-is-resizable" style="font-weight:normal;padding:5px;" scope="col" aria-label="Actions By">
                                          <span class="slds-truncate" title="Actions By">Amendment value</span>
                                      </th>
                                      <th style="text-align: center;font-weight:normal;padding:5px;" class="slds-is-sortable slds-is-resizable" scope="col" aria-label="Action Date">
                                          <span class="slds-truncate" title="Action Date">Action By/ Date</span>
                                      </th>
                                      <th style="text-align: center;font-weight:normal;padding:5px;" class="slds-is-sortable slds-is-resizable" scope="col" aria-label="Action Date">
                                          <span class="slds-truncate" title="Action Date">Comments</span>
                                      </th>
                                  </tr>
                              </thead>
                              <tbody> 
                                  <apex:repeat value="{!AmendHistory}" var="log">                                                      
                                      <tr> 
                                          <td><div class="slds-truncate" title="{!log.Attribute_Name__c}">{!log.Attribute_Name__c}</div></td> 
                                          <td><div class="slds-truncate" title=""> {!log.Original_Value__c}</div></td> 
                                          <td><div class="slds-truncate" title=""> {!log.Attribute_Value__c}</div></td> 
                                          <td><div class="slds-truncate" title="">{!log.CreatedBy__r.First_Name__c}&nbsp;{!log.CreatedBy__r.Last_Name__c}&nbsp;/&nbsp;{!log.CreatedDatePDF__c}</div></td> 
                                          <td><div class="slds-truncate" title="">{!log.Comments__c}                         
                                              </div></td> 
                                         
                                      </tr>
                                  </apex:repeat>
                              </tbody>
                              
                              </th>
                          </tr>
                      </table>
              </div>
              </apex:pageBlock>
              <br/><br/>
              
              <table style="width: 100%;margin: 0 auto;font-size: 12.8px;padding:10px;">
                  
                  <tr style="width:100%;">
                      <th style="width:50%;padding:5px;text-align:left;font-weight:600;color:#0c8dd4;font-size:16px;"><h5 style="background-color:#4682b4;color:white;Padding:5px;">ENTITY DETAILS</h5> </th>
                      <th style="width:50%;padding:5px;text-align:left;font-weight:600;color:#0c8dd4;font-size:16px;"><h5 style="background-color:#4682b4;color:white;Padding:5px;">COUNTERPARTY DETAILS</h5>
                          
                      </th>
                  </tr>
                  <tr>
                      <th> 
                          <span style="width:20%;padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Name</span>
                          <span style="width:2%;">&nbsp;&nbsp;&nbsp;:</span> 
                          <span style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.CreatedBy} ({!Offers.PartyName})</span></th>
                      <th> 
                          <span style="width:20%;padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Name &nbsp;</span><span style="width:2%;">&nbsp;&nbsp;&nbsp;:</span> <span style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.BidderName}</span></th>
                      
                  </tr>       
                  
                  <tr>
                      <th> 
                          <span  style="width:20%;padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Title</span><span style="width:2%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span> <span style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.Title}</span></th>
                      <th> 
                          <span  style="width:20%;padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Title</span> <span style="width:2%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span> <span style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.cTitle}</span></th>
                      
                  </tr>
                  <tr>
                      <th> 
                          <span  style="width:20%;padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Email</span><span style="width:2%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span> <span style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.Email}</span></th>
                      <th> 
                          <span  style="width:20%;padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Email</span> <span style="width:2%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span> <span style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.cEmail}</span></th>
                      
                  </tr>
                  <tr>
                      <th> 
                          <span  style="width:20%;padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Phone</span><span style="width:2%;">&nbsp;&nbsp;&nbsp;&nbsp;:</span> <span style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.Phone}</span></th>
                      <th> 
                          <span  style="width:20%;padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Phone</span> <span style="width:2%;">&nbsp;&nbsp;&nbsp;&nbsp;:</span> <span style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.cPhone}</span></th>
                      
                  </tr>
                  <tr>
                      <th> 
                          <span  style="width:20%;padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Address</span><span style="width:2%;">&nbsp;:</span> <span style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.City}</span></th>
                      <th> 
                          <span style="width:20%;padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Address</span> <span style="width:2%;">&nbsp;:</span> <span style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.cCity}</span></th>
                      
                  </tr>
                  <tr>
                      <th> 
                          <span  style="width:20%;padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">State</span><span style="width:2%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span> <span style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.State}</span></th>
                      <th> 
                          <span  style="width:20%;padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">State</span> <span style="width:2%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span> <span style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.cState}</span></th>
                      
                  </tr>
                  <tr>
                      <th style="padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">
                          <br/>
                          <img src="{!$Resource.jindal}" width="40%"/>
                      </th>
                    <th style="padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">
                    <br/>
                    <apex:outputpanel rendered="{!Offers.cPartyName =='Zurcher kantonalbank'}">  
                    <img src="{!$Resource.zkb}" width="40%"/>
                    </apex:outputpanel>
                    <apex:outputpanel rendered="{!Offers.cPartyName =='BARCLAYS BANK PLC'}">  
                    <img src="{!$Resource.Barclays}" width="40%"/>
                    </apex:outputpanel>
                    <apex:outputpanel rendered="{!Offers.cPartyName =='PNB'}">  
                    <img src="{!$Resource.pnb}" width="40%"/>
                    </apex:outputpanel>
                    </th>
                  </tr>
              </table> 
              <div style="margin-top:510px !important;">
              <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
              <h3 style="background-color:#4682b4;Padding:5px;color:white;text-align:center;">This is a computer-generated document. No signature is required.</h3>
              <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
              </div>
              <br/> 
           </div>           
        </body>
    </html>
</apex:page>