<apex:component controller="BidSubmitEmailTemp" access="global">
    <apex:attribute name="syndId" type="Id" description="Id of the Seller offer" assignTo="{!quoteId}" />     
    <div style="width: 75%;margin: 0 auto;background-color: #FAFAFA;"> 
        <br/> 
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <br/>        
        <apex:image id="theImage" width="15%" style="margin-left: 10px;" value="{!Quotes.logourl}"  alt="Offers.logotitle"/>
        <br/>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <table>
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;font-size:16px;">{!Quotes.transactioncreatedname},</th>                
            </tr>
            <tr style="width:100%;"> 
                <td style="padding:5px;">{!Quotes.CreatedBy} has submitted a new quote for the Trade Finance transaction. The details are provided below for your reference. </td>
            </tr>   
        </table>
        <table style="font-size: 12.8px;font-family: calibri;padding:10px;width:100%;">
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Transaction Reference</th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Quotes.TransactionReference}</th>
            </tr>
            <apex:outputpanel rendered="{!Quotes.IssuingBankhasValue == true}">            
                <tr style="width:100%;">
                    <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Issuing Bank</th>
                    <th style="width:2%;">:</th>
                    <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Quotes.IssuingBank}</th>
                </tr> 
            </apex:outputpanel>
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Quote Reference</th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Quotes.BidReference}</th>
            </tr>
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Quote Amount </th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Quotes.Amount}</th>
            </tr>
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Currency</th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Quotes.BidCurrency}</th>
            </tr>
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Quote Fee (bps)</th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Quotes.bidFee}</th>
            </tr>            
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Quote Status</th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Quotes.BidStatus}</th>
            </tr>
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Quote Expiration Date</th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Quotes.Expirationdate}</th>
            </tr>      
        </table>
         <apex:outputpanel rendered="{!Quotes.Email_Guidance_Quote_Withdraw !=''}">
       <table style="font-size: 12.8px;font-family: calibri;padding:10px;width:100%;border: 1px solid;background: #f2f2f2;">
       <apex:outputText value="{!Quotes.Email_Guidance_Quote_Withdraw}" escape="false" />
        </table>
        </apex:outputpanel>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <div style="margin-left: 10px;">                  
            <br/>           
            <p>{!Quotes.CreatedBy}, {!Quotes.counterpartyName}</p>            
        </div>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <br/>
         
    </div>
</apex:component>