<apex:component controller="OrganizationCreateEmailTemp" access="global">
    <apex:attribute name="organizationId" type="Id" description="Id of the Seller offer" assignTo="{!orgId}" /> 
    <div style="width: 75%;margin: 0 auto;background-color: #FAFAFA;"> 
        <br/> 
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <br/>        
        <apex:image id="theImage" width="15%" style="margin-left: 10px;" value="{!Org.logo}"  alt="orgtitle"/>    
        <br/>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <table style="font-size: 12.8px;font-family: calibri;padding:10px;width:100%;">
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;font-size:16px;">Hi,</th>
                <th ></th>
                <th ></th>
            </tr>
            <tr style="width:100%;">
               <th colspan="3" style="padding:5px;text-align:left;font-weight:bold;width:30%;font-size:16px;">{!Org.orgName} has been created successfully.</th>
            </tr>
            <tr style="width:100%;">
                <th colspan="3" style="padding:5px;text-align:left;font-weight:bold;width:30%;font-size:16px;">The Organization details as follows,</th>
            </tr>
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Website  </th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Org.website}</th>
            </tr>
            <tr>
                <th style="padding:5px;text-align:left;font-weight:bold;">Phone  </th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Org.phone}</th>
            </tr>
            <tr>
                <th style="padding:5px;text-align:left;font-weight:bold;">Industry </th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;"> {!Org.Industry}</th>
            </tr>
            <tr>
                <th style="padding:5px;text-align:left;font-weight:bold;">Employees </th> <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Org.Employees}</th>
            </tr>
            <tr>
                <th style="padding:5px;text-align:left;font-weight:bold;">Revenue </th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Org.Revenue} </th>
            </tr>           
            <tr>
                <th style="padding:5px;text-align:left;font-weight:bold;">Primary Contact Name</th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Org.contactname}</th>
            </tr>  
            <tr>
                <th style="padding:5px;text-align:left;font-weight:bold;">Primary Contact Phone</th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Org.contactphone}</th>
            </tr>  
            <tr>
                <th style="padding:5px;text-align:left;font-weight:bold;">Primary Contact Email</th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Org.contactemail}</th>
            </tr> 
            <tr>
                <th style="padding:5px;text-align:left;font-weight:bold;">Created By</th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Org.CreatedBy}</th>
            </tr>
            <tr>
                <th style="padding:5px;text-align:left;font-weight:bold;">Created Date</th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Org.CreatedDate}</th>
            </tr>
           
        </table>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <div style="margin-left: 10px;">                  
        <br/>
            {!Org.Thanksmsg}
        </div>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <br/> 
    </div>
</apex:component>