<apex:component controller="RFINotesEmail" access="global">
    <apex:attribute name="transactionId" type="Id" description="Id of the Seller offer" assignTo="{!notesId}" /> 
    <div style="width: 75%;margin: 0 auto;background-color: #FAFAFA;">
        <br/> 
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <br/>        
        <apex:image id="theImage" width="15%" style="margin-left: 10px;" value="{!Offers.logo}"  alt="logotitle"/>    
        <br/>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <table>
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;font-size:16px;">{!Offers.RequestedName},</th>                
            </tr>
            <tr style="width:100%;"> 
                <td style="padding:5px;">The following note added to <b>{!Offers.ReferenceName}</b> by <b>{!Offers.CreatedBy}</b></td>
            </tr>    
            <tr style="width:100%;">
                <td style="padding:5px;"> <b>Notes:</b> {!Offers.Body}</td>
            </tr>
            <tr style="width:100%;">
                <td style="padding:5px;"> {!Offers.wtq}</td>
            </tr>
            <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
            <div style="margin-left: 10px;">                  
                <br/>
                <p>{!Offers.Thanksmsg}</p>            
            </div>
            <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
            <br/> 
        </table>        
        
    </div>
</apex:component>