<apex:component controller="CPInvitationEmalTemp" access="global">
    <apex:attribute name="tenantId" type="Id" description="Id of the Seller offer" assignTo="{!tenantuserId}" /> 
    <div style="width: 50%;background-color: #FAFAFA;">        
        <br/> 
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <br/>        
        <apex:image id="theImage" width="15%" style="margin-left: 10px;" value="{!Users.logo}"/>    
        <br/>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <br/> 
        <div style="margin-left: 10px;">
            Dear {!Users.username},
        </div>
        <br/>
        <div style="margin-left: 10px;">
            
            <apex:outputpanel rendered="{!Users.Invitedfortaskassignee == true}"> 
            You have been invited by <B>{!Users.sendername} ({!Users.sitename})</B> to participate in a manage transaction task. The transaction reference is <B>{!Users.Transref}</B>.
            </apex:outputpanel>
            <br/> <br/> 
            Please <a target="_blank" href="https://tradeaixqa-stratizantqa.cs93.force.com/demo/s/onboarding?id={!Users.userId}&cp={!Users.LB}&i={!Users.InvitedBy}&flag=TA">click here </a> to get started.
            <br/><br/> 
        </div>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <div style="margin-left: 10px;">                  
        <br/>
            {!Users.Thanksmsg}
        </div>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <br/> 
    </div>
</apex:component>