.THIS .uiInput--input .input, .THIS .uiInput--input.input, .THIS .border
{    border: 1px solid rgb(13, 156, 234)!important;
}
.THIS .uiOutputDateTime
{
      font-size: 13px;
}
/* Radio button design-START*/
.THIS .hidden
{
 display: none;   
}
.THIS .radio-button
{
    float: none !important;
}
.THIS .uiLabel
{
    font-size: 13px;
}
.THIS .radio-button.active
{
  background: rgb(12, 141, 212)!important  
}
/* Radio button design-END*/
.THIS .info-icon
{
    line-height: 20px !important;
}
.THIS .slds-dueling-list__options
{
 border: 1px solid rgb(13, 156, 234)!important;
}
.THIS .slds-dueling-list__column .slds-button:first-of-type
{
    border: 1px solid;
}

.THIS .card-bodypop
{
    overflow-y:Scroll;
    padding: 6px !important;
    background: #f6f7f8!important;
}
.THIS .box-card1
{
    width: 100%;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 0px !important;
}
.THIS .editwi72 {
    width: 95px;
}
.THIS .card-header
{border-bottom: 1px #c6c6c6 dotted !important;
}
.THIS .btn-primary{
    color: #fff;
    background-color: #007bff !important;
    border-color: #007bff !important;
}
.THIS .error_text { 
    color: red;
}
.THIS .wi72 {
    width: 145px;
}
.THIS .slds-dueling-list__options, 
.THIS .slds-picklist__options{
    height:13rem !important;
}
.THIS .slds-text-link--reset {
    color: inherit !important;
    text-decoration: none !important;
    width: 100% !important;
    height: 47px !important;
    text-align: left !important;
    padding-left:0px !important;
    padding-right:0px !important;
    font-size: 17px !important;
    box-shadow: none !important;
    display: inline-table !important;
}

.THIS .Customizedstocktable{
    min-width:100%;
}
.THIS .Customizedstocktable tbody, 
.THIS .Customizedstocktable thead ,
.THIS .Customizedstocktable tr,
.THIS .Customizedstocktable th,
.THIS .Customizedstocktable td {
    display: block;
}
.THIS .Customizedstocktable tbody {   
    height: 625px;
    overflow-y: auto;
    width:100%; 
}
.THIS .Customizedstocktable thead{
    width:100%;
}
.THIS .Customizedstocktable tbody tr{
    clear:both;
}
.THIS .Customizedstocktable th, .THIS .Customizedstocktable td {
    width: 14.2%;
    float: left;
}
.THIS .slds-table--striped tbody tr:nth-of-type(even) {
    background: #f4f6f9 !important;
    display: table;
    width: 100%;
}

.THIS .slds-table:not(.slds-no-row-hover) tbody tr:hover{
    background: #f4f6f9 !important;
    display: table;
    width: 100%;
}

.THIS .uiInput--radio input[type=radio]{
    float:left !important;
    margin-right:5px !important;
    margin-top:4px !important;
}