@font-face {
   font-family: 'FontAwesome';
   src: url(/resource/fontawesome); 
    /* 
     'disneyFont' is the name of static resorces (.ttf) font file 
    */
 }
/* Radio button design-START*/
.THIS .info-icon
{line-height: 40px !important;}
.THIS .hidden
{
 display: none;   
}
.THIS .ddheight
{
    height:35px !important;
}
.THIS .rapidwi72
{
    width: 23%;
}
.THIS .radio-button
{
    float: none !important;
}
.THIS .uiLabel
{
    font-size:14px;
}
.THIS .radio-button.active
{
  background: rgb(12, 141, 212)!important  
}
/* Radio button design-END*/
.THIS .uiInput--input .input, .THIS .uiInput--input.input, .THIS .border, .THIS .slds-input .THIS .hasDatepicker
{    border: 1px solid rgb(13, 156, 234)!important;
}
.THIS .card-bodypop
{
    padding: 6px !important;
    background: #f6f7f8!important;
}
.THIS .box-card1
{
    width: 100%;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 0px !important;
}
.THIS .card-header
{border-bottom: 1px #c6c6c6 dotted !important;
}
.THIS .wi72 {
    width: 90px;
}
.THIS .error_text { 
    color: red;
}
.THIS .slds-dueling-list__options, 
.THIS .slds-picklist__options{
    height:13rem !important;
}
.THIS .slds-text-link--reset {
    color: inherit !important;
    text-decoration: none !important;
    width: 100% !important;
    height: 47px !important;
    text-align: left !important;
    padding-left:0px !important;
    padding-right:0px !important;
    font-size: 17px !important;
    box-shadow: none !important;
    display: inline-table !important;
}

.THIS .Customizedstocktable{
    min-width:100%;
}
.THIS .Customizedstocktable tbody, 
.THIS .Customizedstocktable thead ,
.THIS .Customizedstocktable tr,
.THIS .Customizedstocktable th,
.THIS .Customizedstocktable td {
    display: block;
}
.THIS .Customizedstocktable tbody {   
    height: 625px;
    overflow-y: auto;
    width:100%; 
}
.THIS .Customizedstocktable thead{
    width:99%;
}
.THIS .Customizedstocktable tbody tr{
    clear:both;
}
.THIS .Customizedstocktable th, .THIS .Customizedstocktable td {
    width: 10%;
    float: left;
}
.THIS .slds-table--striped tbody tr:nth-of-type(even) {
    background: #f4f6f9 !important;
    display: table;
    width: 100%;
}

.THIS .slds-table:not(.slds-no-row-hover) tbody tr:hover{
    background: #f4f6f9 !important;
    display: table;
    width: 100%;
}