/*.THIS .uiInput--select,.THIS .THIS .slds-input .uiInput--input .input, .THIS .uiInput--input.input, .THIS .border,.THIS .lightning-datepicker_datepicker .slds-form-element__control .slds-input-has-icon .slds-input-has-icon_right
{    border: 1px solid rgb(13, 156, 234) !important;
    font-size:0.8rem;
}
.THIS .uiInput--input .THIS.input, .THIS .uiInput--input.input
{
    border: 1px solid rgb(13, 156, 234) !important;
}*/
.THIS .radio-button.active
{
  background: rgb(12, 141, 212)!important  
}
.THIS .slds-container_fluid, .THIS .slds-container--fluid
{
    width: 70% !important;
}
.THIS .row {
    margin-right: 0% !important;
    margin-left: 0.3% !important;
}
.THIS .cptextcontent{
width: 890px;
}
.THIS .count{
    
    font-size:30px;
}
.THIS .slds-page-header
{
   line-height: 90px !important;
}
.THIS .slds-show
{clear:both;
}
.THIS .slds-tabs_default__item, .THIS .slds-tabs--default__item
{
        font-size: 14px;
    color:#000;
}
.THIS .box-card-header
{
    padding: 13px;
}
.THIS .count_top
{
    float: left;
    margin-left: 44px;
}
.THIS .slds-tabs_default__item:after, .THIS .slds-tabs--default__item:after
{    content: none;
}
.THIS .slds-tabs_default__nav
{
    Padding-top:20px;
}
.THIS .slds-tabs_default__nav .slds-is-active{
	color: #555 !important;
    background-color: #fff !important;
    font-size: 14px !important;
    border-radius: 50px !important;
    border: 1px #0c8dd4 solid !important;
}
.THIS .slds-is-active:after
{
            background-color: transparent !important;
}

.THIS h5 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.THIS .card-body {
       padding: 0rem !important;
}
.THIS .uiInputSelect {
    font-size: 0.8125rem !important; 
}
.THIS .slds-page-content{
    overflow-y:auto;
}
.THIS .row{margin-right:5%; margin-left:5%}

.THIS body {
    color: #2c3e50;
    background-color: rgb(247, 249, 251);
}
.THIS h1 {
    text-align: center;
}
.THIS .half {
    float: left;
    width: 50%;
    padding: 0 1em;
}
/* Acordeon styles */
.THIS .tab {
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    color: #000;
    overflow: hidden;
}
.THIS input {
    position: absolute;
    height:1.875rem !important;
    min-height:1.875rem !important;
    font-size: 0.8125rem !important;  
}
.THIS .blue label {
    background: #ffffff;
}
.THIS .tab-content {
    max-height: 0;
    overflow: hidden;
    background: #f7f9fb;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
}
.THIS .blue .tab-content {
    background: #3498db;
}
.THIS .tab-content p {
    margin: 1em;
}
/* :checked */
.THIS input:checked ~ .tab-content {
    max-height: 150em;
}
/* Icon */
.THIS label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
    font-size: 1.2em;
}
.THIS input[type=checkbox] + label::after {
    content: "+";
}
.THIS input[type=radio] + label::after {
    content: "\25BC";
}
.THIS input[type=checkbox]:checked + label::after {
    transform: rotate(315deg);
}
.THIS input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
}

.THIS .forceStyle.desktop .oneContent.active {
    background-color: rgb(236, 240, 241);
    overflow: visible;
}
.THIS ul{
    list-style: none !important;
}
.THIS .slds-tabs--default__link{
    font-size: 0.8125rem !important;
}
/* Radio button design-START*/
.THIS .info-icon
{line-height: 40px !important;}
.THIS .hidden
{
 display: none;   
}
.THIS .radio-button
{
    float: none !important;
}
.THIS .uiLabel
{
    font-size:14px;
}
.THIS .radio-button.active
{
  background: rgb(12, 141, 212)!important  
}
/* Radio button design-END*/
.THIS .uiInput--input .input, .THIS .uiInput--input.input, .THIS .border
{    border: 1px solid rgb(13, 156, 234)!important;
}
.THIS .card-bodypop
{
    padding: 6px !important;
    background: #f6f7f8!important;
}
.THIS .box-card1
{
    width: 100%;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 0px !important;
}
.THIS .card-header
{border-bottom: 1px #c6c6c6 dotted !important;
}
.THIS .wi72 {
    width: 125px;
}
.THIS .error_text { 
    color: red;
}
.THIS .slds-dueling-list__options, 
.THIS .slds-picklist__options{
    height:13rem !important;
}
.THIS .slds-text-link--reset {
    color: inherit !important;
    text-decoration: none !important;
    width: 100% !important;
    height: 47px !important;
    text-align: left !important;
    padding-left:0px !important;
    padding-right:0px !important;
    font-size: 17px !important;
    box-shadow: none !important;
    display: inline-table !important;
}

.THIS .Customizedstocktable{
    min-width:100%;
}
.THIS .Customizedstocktable tbody, 
.THIS .Customizedstocktable thead ,
.THIS .Customizedstocktable tr,
.THIS .Customizedstocktable th,
.THIS .Customizedstocktable td {
    display: block;
}
.THIS .Customizedstocktable tbody {   
    height: 625px;
    overflow-y: auto;
    width:100%; 
}
.THIS .Customizedstocktable thead{
    width:99%;
}
.THIS .Customizedstocktable tbody tr{
    clear:both;
}
.THIS .Customizedstocktable th, .THIS .Customizedstocktable td {
    width: 10%;
    float: left;
}
.THIS .slds-table--striped tbody tr:nth-of-type(even) {
    background: #f4f6f9 !important;
    display: table;
    width: 100%;
}

.THIS .slds-table:not(.slds-no-row-hover) tbody tr:hover{
    background: #f4f6f9 !important;
    display: table;
    width: 100%;
}